.contenedor-medio{
	margin: 8px;
	float: left;
	width: 550px;
	text-align: center;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}


.contenedor-medio .thumbnail{
	padding: 30px;
	overflow-x: hidden;
	background: #fcfcfc;
}

#contenedor-global{
	margin: 0 auto;
}

a h3{
	color: black;
}

a:hover h3, a:visited h3{
	color: black;
}

.entrada{
	margin-top: 30px;
	background: #fcfcfc;
	padding: 30px;
}