a{
	text-decoration: none;
}

.menu{
	background: rgba(18,18,18,0.9);
	color: white !important;
}

.menu a{
	color: white !important;
}
body{
	background: url(../img/arbolito.png) center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.contenedor{
	z-index: 100;
}

.contenedor-body{
	height: 700px;
}

#convocatoria{
	height: 700px;
	background: rgba(18,18,18,0.9)
	
}

